aside form {
    color: #fff;
    padding: 20px;
}

aside form > *{
    display: block;
    width: 100%;
    margin: 15px 0px;
    padding: 8px 6px;
    font-family: inherit;
}

aside form p,
aside form h3 {
    display: block;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

aside form label {
    padding: 0;
    margin: 0;
}

aside form textarea {
    resize: none;
}

aside form input {
    color: #555;
    font-size: 10pt;
    font-weight: normal;
}

aside form input:focus {
    color: #f60;
    font-weight: bold;
}

aside form input:focus::placeholder {
    color: #555;
    font-weight: normal;
}

aside form input[type="submit"] {
    border: none;
    font-size: 150%;
    font-weight: bold;
    background-color: #f60;
    color: #fff;
    margin: 0;
    transition: all .05s ease-in-out;
}

aside form input[type="submit"]:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.47);
}

aside form input[type="submit"]:active {
    transform: scale(1);
    box-shadow: none;
}

aside form .notice-animation {
    animation-name: notice-me;
    animation-duration: 0.5s;
    animation-iteration-count: 2;

}

@keyframes notice-me {
    0% {
        color: red;
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.47);

    }
    100% {
        color: red;
    }
}