#main form span {
    color: #f00;
}

#main form table {
    width: 100%;
}

#main form label {
    display: block;
    margin: 8px 0;
}

#main form .container {
  margin: 0;
}

#main form input[type="text"],
#main form input[type="tel"] {
    width: 90%;
    border: none;
    border-bottom: 2px solid;
    border-bottom-color: #00112b;
    padding: 8px 6px;
    font-size: 12pt;
}

#main form input[type="submit"] {
    box-sizing: border-box;
    border: none;
    width: 150px;
    padding: 10px;
    font-size: 12pt;
    background-color: #00112b;
    color: #fff;
}

#main form input[type="submit"]:hover {
    text-decoration: underline;
    cursor: pointer;
}

#main form input[type="submit"]:active {
    background-color: #f60;
}

#main form input[type="text"]:focus,
#main form input[type="tel"]:focus {
    color: #f60;
    outline: none;
}

#main form textarea:focus {
    border-color: #00112b;
}

#main form input[type="text"]:placeholder-shown,
#main form input[type="tel"]:placeholder-shown,
#main form textarea:placeholder-shown {
    font-style: italic;
}

#main form input[type="text"]:focus::placeholder,
#main form input[type="tel"]:focus::placeholder,
#main form textarea:focus::placeholder {
    color: transparent;
}

#main form textarea {
    box-sizing: border-box;
    resize: none;
    width: 100%;
    height: 150px;
    padding: 8px 6px;
    border: 2px solid #00112b;
    font-family: inherit;
}

#main form .choice-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#main form .choice-list label {
    display: inline;
}

#main form select {
    width: 200px;
    height: 25px;
}

#status-message {
    display: inline;
    margin: 16px;
}