/*box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.1);*/
@charset "utf-8";

/*CSS RESET*/
html, body, div, span, applet, object, iframe,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.color-palet-dummy-class {
	color: #00112bff;
	color: #002255ff; /*Wrench*/
	color: #003380ff; /*Comp*/
	color: #0044aaff;
	color: #0055d4ff;
	color: #0066ffff; /*Air*/
	color: #2a7fffff;
	color: #5599ffff;
	color: #80b3ffff;
	color: #aaccffff; /*Wind*/
	color: #d5e5ffff;
}

html, body {
    position: relative;
    background-color: white;
    color: #000000;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 16pt;
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #002255ff;
}

header {
    width: auto;
    overflow: hidden;
    background-color: #00112bff;
    border-bottom-style: solid;
    border-bottom: white;
    border-bottom-width: 1px;
    padding: 20px 5px;
}

header img {
    float: left;
    margin: 0px 20px;
}

header a img:hover {

}

header h2 {
    float: left;
    color: white;
    margin: 0;
    padding-left: 20px;
    font-size: 28px;
    font-weight: normal;
    text-decoration: none;
    line-height: normal;

    border-left-style: solid;
    border-left-color: white;
    border-left-width: 2px;
}

#container {
    width:100%;
}

nav {
    background-color: #00112bff;
    overflow: auto;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00112bff;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a:active {
    color: #00112bff;
    background-color: white;
}

main {
    width: 60%;
    background-color: #ffffff;
    float: left;
    padding: 20px;
}

footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #00112bff;
    color: white;
}

footer p a {
    color: white;
    padding: 0px 10px;
}
