<!DOCTYPE html>
<html lang="en">
<head>
    <title>Template | CompAir</title>
    <link rel="icon" href="img/favicon.png">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <meta charset="UTF-8">
</head>
<body>
    <header id="main-header">
        <div class="container">
            <!--<h1>CompAir</h1>-->
            <div class="left">
                <a href="index.php"><img src="img/logo.svg" alt="CompAir"></a>
                <h2>HVAC Installation <br> Maintenance & Repair</h2>
            </div>
            <div class="right">
                <h3>Call Us: <i style="font-weight: 100;">(305) 555-1247</i></h3>
            </div>
        </div>
    </header>

    <nav id="navbar">
        <div class="container">
            <ul>
                <li><a href="./index.php" class="active">Home</a></li>
                <li><a href="./services.php#">Air Conditioning</a></li>
                <li><a href="./services.php#">Heating</a></li>
                <li><a href="./services.php#">Maintenance</a></li>
                <li><a href="./services.php">Services</a></li>
                <li><a href="./careers.php">Careers</a></li>
                <li><a href="./about-us.php">About Us</a></li>
                <li><a href="./contact.php">Contact</a></li>
            </ul>
        </div>
    </nav>


    <div class="main container">
        <section id="showcase">
            <div class="foreground">
                <h1>Give your home a boost in comfort.</h1>
            </div>
        </section>

        <section id="main">
            <h1>Welcome</h1>
            <p>Started in 2012, by a father and his son, CompAir was founded with one mission
            in mind; to provide a better service, at a lower price. Towards that goal we are
            committed 100%, we believe that customer comfort and satisfaction should always
            come first. We pride ourselves with providing an individualized service for each
            and every customer, whether residential or commercial, we believe that their
            uniqueness should grant them special attention.</p>
            <p>If you are in need of quality heating, ventilation, or air conditioning in the
            areas of Kendall, Coral Gables, Doral, Palmetto Bay, or other surrounding areas
            don't hesitate to give us a call. CompAir will take care of all your HVAC
            installation, maintenance, replacement, and repair needs. After we are done, you
            will notice the difference instantly, a new level of comfort in your life.
            CompAir your air.</p>
        </section>

        <aside id="sidebar">
            <div class="container">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt similique
                temporibus minus, aspernatur pariatur molestias provident, odit qui quidem maiores,
                adipisci voluptate? Inventore, repudiandae mollitia? Sed, omnis? Quas, repudiandae non.</p>
            </div>
        </aside>
    </div>

    <footer id="main-footer">
        <p>
            <a href="index.php">Home</a> |
            <a href="services.php">Services</a> |
            <a href="careers.php">Careers</a> |
            <a href="about-us.php">About Us</a> |
            <a href="contact.php">Contact</a>
        </p>
        <p>Copyright &copy; 2020 CompAir</p>
    </footer>

</body>
</html>